#chat-screen,
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
}
#chat-screen {
  height: 100vh;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
}
.chat-header__title {
  font-family: "Times New Roman", Times, serif;
}
.chat-screen {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__time-stamp {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.message-row {
  width: 100%;
  margin: 10px 0;
  display: flex;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
  object-fit: cover;
}
.message__author {
  opacity: 0.8;
  font-size: 15px;
}
.message__info {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 12px;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.message__time {
  font-size: 12px;
  opacity: 0.7;
  margin: 0 5px;
}
.message-row--own {
  flex-direction: row-reverse;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message-row--own .message__bubble {
  border-radius: 15px;
  border-top-right-radius: 0;
  background-color: var(--yellow);
}

.reply {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 25px;
  padding-right: 50px;
  transition: transform 0.3s ease-in-out;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  height: 32px;
  width: 100%;
  padding: 4px 14px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}
.reply__btn {
  width: 74px;
  position: absolute;
  right: -27px;
  bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reply__btn button:first-child {
  background: none;
  border: none;
  font-size: 28px;
}
.reply__btn button:last-child {
  background-color: var(--yellow);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply i:not(.reply__btn > button:last-child > i) {
  opacity: 0.4;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  1% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.chat-screen {
  animation: fadeIn 1s linear;
}
@keyframes leftShot {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: none;
  }
}
@keyframes rightShot {
  from {
    transform: translateX(100px);
  }
  to {
    transform: none;
  }
}
.message-animation {
  animation: leftShot 1s linear;
}
.message-animation_r {
  transform: translateX(300px);
  animation: rightShot 1s 1.5s linear forwards;
}
.reply .reply__column:first-child,
.reply .reply__btn {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply__btn {
  opacity: 0;
}

.reply input {
  transition: all 0.3s ease-in-out;
}
.reply:focus-within input {
  width: 85vw;
  transform: translateX(-10%) translateY(-50px);
}
.reply:focus-within {
  transform: translateY(50px);
}
