.nav {
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__btn {
  width: 25%;
  text-align: center;
}
.nav__btn {
  color: #2e363e;
}
.nav__link {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.nav__ellipsis {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 30px;
  bottom: 27px;
}
.nav__search--solid {
  background-color: #2e363e;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 2px;
  top: -9px;
}
